doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title NaTours
    body 
h1= tour
h2= user.toUpperCase()

- const x = 5;
h2= 2*x
p this is just some text


